body {
    background-color: whitesmoke
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.flex-container > div {
    background-color: #f1f1f1;
    width: 100%;
    text-align: center;
   
    font-size: 30px;
  }

#feature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;
}

#header {
    background-color: turquoise;
    line-height: 70px;
}

#feature1 {
    background: orange;
    flex-basis: 33%;
    line-height: 100px;
  
}

#feature2 {
    background: blueviolet;
    flex-basis: 33%;
    line-height: 100px;
 
}

#feature3 {
    background: tomato;
    flex-basis: 33%;
    line-height: 100px;
  
}

#sign-up {
    background-color: lightblue;
    line-height: 50px;
}
#content {
    background-color:lightcyan;
    line-height: 70px;
}
#empty{
    background-color: blue;
    color: blue;
    line-height: 50px;
}